<a href="https://colab.research.google.com/github/Arshad00a/Board-Infinity-Homework/blob/master/python_Homework_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1

In [1]:
#Task 1.1

# Asking User his/her Age 

Age=int (input("Enter your Age :"))
if(Age>18):
  print("Adult")
else:
  print("Teenager")

Enter your Age :7
Teenager

In [2]:
# Task 1.2

# Personal loan approving system

Monthly_income= int(input("Enter your monthly income :"))


if(Monthly_income > 100000):
 Ongoing_loan=str(input("Is there any Ongoing loan :"))

 if(Ongoing_loan=="yes"):
  print("Sorry u are not eligible for loan")

 elif(Ongoing_loan=="no"):
  print("Congrates u r eligible for loan")

 else:
  print("Please Enter a valid answer")

else:
  print("Sorry u r not eligible for loan Your income is less than 100000")

Enter your monthly income :90909090
Is there any Ongoing loan :no
Congrates u r eligible for loan

In [3]:
# Task 1.3

# Ask user female yes --> no

Gender = str (input("Enter your gender: "))
if(Gender =="female"):
  print("You are a girl")
elif(Gender == "male"):
  print("Your a boy")
else:
  print("please enter valid Gender")

Enter your gender: male
Your a boy

# Task 2

In [4]:
# Task 2.1
random_number=[1,23,54,67,7,90,45,2,12,45,56,78,89,34,65,89,32,23]
for i in random_number:
  print(i ,end=" ")

1 23 54 67 7 90 45 2 12 45 56 78 89 34 65 89 32 23

In [5]:

# Task 2.2
print("Even Numbers are :", end=" ")
for i in random_number:
  if(i%2==0):
    print(i,end=" ")

Even Numbers are : 54 90 2 12 56 78 34 32

In [6]:
# Task 2.3

myself= {"name":"Arshad","age":24,"gender":"male","favourite food":"Biryani"}
for i in myself.keys():
  print(i)

name
age
gender
favourite food

In [7]:
# Task 2.4
for i in myself.values():
  print(i)

Arshad
24
male
Biryani

# Task 3

In [8]:
# Task 3.1 --> METHODS

def Info(name):
  print("Name :",name)
Info("Arshad")

Name : Arshad

In [9]:
# Task 3.2

def Dict(information):
 print(information.keys())

Dict(myself)

dict_keys(['name', 'age', 'gender', 'favourite food'])

In [10]:
# Task 3.3
print ("The ODD Numbers are " , end=" ")
def Odd_nos(numbers):
 for i in numbers:
  if(i%2!=0):
    print(i,end=" ")

Odd_nos(random_number[:10])

The ODD Numbers are  1 23 67 7 45 45

# Task 4 -- Type Conversion

In [11]:
# Task 4.1
name="Arshad"
pi=3.14
roll_no=1
Happy = True

# interger to float
print("Type of name",type(name),"\nType of pi ",type(pi),"\nType of roll_no",type(roll_no),"\nType of Happy",type(Happy))
#print(type())

Type of name <class 'str'>
Type of pi  <class 'float'>
Type of roll_no <class 'int'>
Type of Happy <class 'bool'>

In [17]:
# Conversion 

#interger to String

roll_no=str(roll_no)
print(type(roll_no))

#bool to string
Happy=str(Happy)
print(type(Happy))

#Integer to float

roll_no=float(roll_no)
print(type(roll_no))

#!pip install word2number

from word2number import w2n
w2n.word_to_num("sixty nine")  #  This library converts String into Number

<class 'str'>
<class 'str'>
<class 'float'>

69

# Task 5

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score